* {
    font-family: "Open Sans", "sans-serif";
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.detail-header {
    width: 100%;
    height: 8%;
    position: relative;
    font-size: 3em;
    line-height: 3em;
    text-align: center;
}
.detail-header>a {
    position: absolute;
    font-size: 80px;
    color: rgb(38, 182, 109);
    left: 5%;
}
.detail-banner {
    width: 100%;
    height: 27%;
}
/*.detail-banner>img {
    width: 100%;
    height: 100%;
}*/
.detail-text {
    width: 100%;
    height: 15%;
}
.detail-text-info {
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-top: 5%;
}
.detail-text-info>p {
    color: black;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
}
.detail-text-info>span {
    color: rgb(126, 121, 130);
    font-size: 30px;
    float: left;
    margin-top: 5%;
}
.detail-pay {
    width: 100%;
    height: 30%;
    ＊border-bottom: 1px solid rgb(205, 207, 201);
}
.detail-pay-ul {
    width: 90%;
    height: 95%;
    margin-left: 5%;
}
.detail-pay-ul>li {
    width: 100%;
    height: 23%;
    border: 2px solid rgb(38, 182, 109);
    margin-top: 6%;
    border-radius: 5px;
}
.detail-pay-ul>li:first-child {
    margin-top: 0%;
}
.detail-pay-ul>li>img {
    height: 90%;
    width: 12%;
    *margin-left: 3%;
    float: left;
}

.detail-pay-ul>li>p{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
    float: left;
    font-size: 45px;
    margin-left: 1%;
    margin-top: 3%;
    color: rgb(38, 182, 109);
}
.detail-pay-ul>li>span{
  font-size: 45px;
  margin-left: 1%;
  margin-top: 3%;
  color: rgb(38, 182, 109);
  float: left;
}
.detail-pay-ul>li>a {
    font-size: 28px;
    float: right;
    margin-top: 7%;
    color: rgb(38, 182, 109);
    margin-right: 2%;
}
.detail-specifics {
    width: 90%;
    min-height: 30%;
    margin-left: 5%;
    margin-top: 20%;
}
.detail-specifics>header {
    width: 100%;
    height: 3%;
    font-size: 32px;
}
.detail-specifics>section>p{
    width: 100%;
    height: auto;
    font-size: 34px;
    line-height: 55px;
    text-indent: 2em;
    text-align: justify;
    padding-bottom: 2%;
    max-height: 999999px;
}
.detail-specifics>footer {
    width: 100%;
    height: 10%;
}
.detail-specifics>footer>p {
    font-size: 32px;
    line-height: 60px;
}
.detail-specifics>footer span {
    font-size: 32px;
    line-height: 60px;
    margin-left: 10px;
}
